---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

{% comment %}
  Only show portfolio items where show_in_portfolio is not false.
  To hide a project, add "show_in_portfolio: false" to its front matter in _portfolio/*.md
{% endcomment %}
{% assign portfolio_filtered = site.portfolio | where_exp: "item", "item.show_in_portfolio != false" %}

<div class="archive archive--portfolio">
  {% for post in portfolio_filtered %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

